.find {
    margin-top: 6vh;
}

.header-font {
    font-family: 'Cairo', sans-serif;
}

.title-big {
    font-size: 5rem;
}

.title-small {
    font-size: 3rem;
}

.card {
    border: none;
}

.card-img-top {
    border-radius: 1.5rem;
}

.card-text {
    color: grey;
}

.email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


